.body{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.title{
  text-align: center;
  background-color: #37342d;
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  
  align-items: center;
  justify-content: center;
  color: #ff5300;
}
.title .logo{
  width: 40%;
}
.items{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 12.5%;
  padding-right: 12.5%;
  width: auto;
  height: auto;
  
}
@media only screen and (max-width: 1024px) {
  .title{
    flex-direction: row;
  }
}
@media only screen and (max-width: 600px) {
  .title{
    flex-direction: column;
  }
}
@media only screen and (min-width: 1025px) {
  .title{
    flex-direction: row;
  }
  .count-einer{
    max-width: 30%;
    margin: 0;
    margin-right: 0.5em;
  }
  .count-einer:last-child{
    margin-right:0;
  }
}
